[submodule "vim"]
	path = vim
	url = git@github.com:joninvski/vim.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:joninvski/tmux.git
[submodule "awesome"]
	path = awesome
	url = git@github.com:joninvski/awesome.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:joninvski/zsh.git
[submodule "gitconfig"]
	path = gitconfig
	url = git@github.com:joninvski/gitconfig.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:joninvski/fonts.git
